{* Latte template *}

{block content}

<div class="centered-Oblast-nahoru">
<h1>Úprava ČINNOSTI</h1>
{control cinnosti}
<p style="text-align: left; text-align: right">
    <a n:href="Autorizace:roleZdrojeCinnosti" >
        <i class="fa fa-arrow-circle-left fa-4x" aria-hidden="true" title="Zpět" ></i>
    </a>
</p>
</div>
