{* Latte template *}

{block content}
<div style="position: fixed;top: 10%;left: 30%; /*transform: translate(-50%, -50%); */">
    <h1>Změna hesla uživatele</h1>
    {control changePasswordForm}
</div>
<a n:href="Homepage:hlavni" class="centered-Oblast">
    <i class="fa fa-home fa-4x" style="color: #006AEB" aria-hidden="true" title="Hlavní">
    </i>
</a>