{block content}
<table style=" margin: 0px auto; top:auto; "> 
    <td>
        <h1 n:block=title>Byl jste odhlášen</h1>
        <p style="text-align: center">
            <a n:href="in">
                <i class="fa fa-arrow-circle-right fa-4x" style="color: #006AEB" aria-hidden="true" title="Znovu přihlásit">
                </i>
            </a>
        </p>
    </td>
</table>
